{
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": false
        }
      ]
    ],
    "ignore": [
      "node_modules",
      "**/node_modules/@videosdk.live/react-sdk/**"
    ],
    "plugins": [
      [
        "@babel/plugin-transform-react-jsx",
        {
          "runtime": "automatic",
          "importSource": "preact"
        }
      ],
      [
        "module-resolver",
        {
          "root": ["./src"],
          "alias": {
            "_": "./src/_shadcn"
          }
        }
      ]
    ]
  }
